@model PosterDelivery.Utility.EntityModel.ProductsModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Scan delivery items for new buyer";
}
<head>
    <link href="~/Kendo/Content/loading/loading.css" rel="stylesheet" />
    <script src="~/Kendo/Content/loading/loading.js"></script>
    <script src="~/js/PhoneMask.js"></script>
</head>
<div class="col-md-12 p-0">
    <div class="row">
        <div class="col-md-8 mb-3">
            <input type="text" id="txtscancode" style="width: 70%;z-index:10;" placeholder="Scan items to deliver..." class="k-textbox" />
        </div>
        <div id="dvScanComplete" class="mb-3">
            <button id="btnSearch" class="btn btn-sm btn-info" onclick="AddScannedItem()" style="z-index:10;"><i class="fa" style="color:white;"></i> Scanning complete</button>
        </div>
    </div>
    <div class="box box-primary" style="margin-top:30px;">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Title - @Model.CustomerName (#@Model.CustomerId)</h3>
        </div>

        <div class="box-body">
            <div id="ScanningList"></div>
        </div>
    </div>
</div>

<div id="ScanModal" class="modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" style="margin-left: 5%; min-width: 90%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sold items invoice</h4>
            </div>
            <div class="modal-body">
                <div id="dvInvoice" class="box box-primary" style="margin-left:1%; margin-top:1%; width:100%;">
                    <form id="submitForm" style="margin-top:20px;">
                        <div class="form-group col">
                            <div class="row">
                                <div class="col-md-4">
                                    <label style="vertical-align:middle;">Sold Quantity *</label>
                                </div>
                                <div class="col-md-8 mb-3">
                                    <input type="number" onchange="changeSoldQuantity()" min="0" id="txtQuantitycount" name="Quantitycount" style="width: 40%;" class="k-textbox form-control" />
                                </div>
                            </div>
                            <div class="row" id="divSerialNumber">
                                <div class="col-md-4">
                                    <label style="vertical-align:middle;">Invoice Serial *</label>
                                </div>
                                <div class="col-md-8 mb-3">
                                    <input type="text" id="txtInvoiceSerial" name="InvoiceSerial" style="width: 40%;" class="form-control" />
                                </div>
                            </div>
                            <div class="row" id="divInvoiceAmount">
                                <div class="col-md-4">
                                    <label style="vertical-align:middle;">Invoice Amount *</label>
                                </div>
                                <div class="col-md-8 mb-3">
                                    <input type="text" id="txtInvoiceAmount" name="InvoiceAmount" style="width: 40%;" class="form-control" />
                                </div>
                            </div>
                            <div class="row" id="divInvoiceUpload">
                                <div class="col-md-4">
                                    <label style="vertical-align:middle;">Invoice Upload *</label>
                                </div>
                                <div class="col-md-8 mb-3">
                                    <input type="file" id="txtInvoiceFile" name="FileInvoiceAmount" style="height: 88%;" class="k-textbox form-control" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="margin-bottom:20px;">
                                    <button id="btnSubmitInvoice" onclick="SubmitInvoice()" type="button" class="btn btn-sm btn-info"><i class="fa" style="color:white;"></i>Submit Invoice</button>
                                </div>
                            </div>
                            <div>
                                <input id="txtHiddenHeaderId" type="hidden" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="form-group-sm">
                    <div class="box-body">
                        <div id="ScanList"></div>
                    </div>
                </div>
                <div class="col-md-12 text-center" style="margin-top:10px">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var gridDataSource;

    $(function () {
        // Focus on load
        $('#txtscancode').focus();
        // Force focus
        $('#txtscancode').focusout(function () {
            if ($('.modal.in, .modal.show').length == 0) {
                $('#txtscancode').focus();
            }
        });
        // Ajax Stuff
        $('#txtscancode').change(function () {
            var productsData = @Html.Raw(JsonConvert.SerializeObject(Model.lstProductDetils));
            console.log(productsData);
            var item = productsData.filter(x => x.ProductSerial === $('#txtscancode').val());
            if (item.length > 0) {
                $("#dvMovenext").hide();
                $("#btnSearch").show();
                var grid = $("#ScanningList").data("kendoGrid");
                grid.dataSource.insert({ ProductId: item[0].ProductId, ProductSerial: $('#txtscancode').val(), ProdctName: item[0].ProductName, ProductPrice: item[0].ProductPrice });
            }
            else {
                if ($('.modal.in, .modal.show').length == 0) {
                    swal("Oops", "Invalid scan", "error");
                }
            }
            if ($('.modal.in, .modal.show').length == 0) {
                $('#txtscancode').val('').focus();
            }
        });
    });
    $(document).ready(function () {

        $("#btnSearch").hide();

        //This is for test purpose
        //var dummydata = [{ ProductId: "1", ProductSerial: "XY1234", ProdctName: "Test", ProductPrice: "5" },
        //{ ProductId: "3", ProductSerial: "123456", ProdctName: "Test Product", ProductPrice: "10" },
        //{ ProductId: "3", ProductSerial: "123456", ProdctName: "Test Product", ProductPrice: "10" },
        //{ ProductId: "4", ProductSerial: "n221c72c0106", ProdctName: "NETUM 2D Mini Barcode Scanner", ProductPrice: "64" },
        //]

        $("#ScanningList").kendoGrid({
            //dataSource: dummydata,
            scrollable: true,
            filterable: true,
            pageable: {
                refresh: true,
                input: true,
                pageSize: 20,
                numeric: false,
                pageSizes: [20, 50, 100, 200],
                message: {
                    empty: 'No Data',
                    allPages: 'All'
                }
            },
            sortable: true,
            columns: [
                { field: "ProductId", title: "Product Id", width: 100, media: "(min-width: 100px;)", filterable: false, hidden: false },
                { field: "ProductSerial", title: "Product Serial", width: 100, media: "(min-width: 100px;)", filterable: false },
                { field: "ProdctName", title: "Product Name", width: 100, media: "(min-width: 100px;)", filterable: false },
                { field: "ProductPrice", title: "Product Price", width: 100, media: "(min-width: 100px;)", filterable: false },
            ]
        });
    });

    function changeSoldQuantity() {
        var soldQuantity = parseInt($("input[name=Quantitycount]").val());

        if (soldQuantity > 0) {
            $("#divSerialNumber").show();
            $("#divInvoiceUpload").show();
            $("#divInvoiceAmount").show();
        }
        else {
            $("#divSerialNumber").hide();
            $("#divInvoiceUpload").hide();
            $("#divInvoiceAmount").hide();

            $("#txtInvoiceSerial").val('');
            $("#txtInvoiceAmount").val(0);
        }
    }

    function AddScannedItem() {
        var dataSource = $("#ScanningList").data("kendoGrid").dataSource;
        var filteredDataSource = new kendo.data.DataSource({
            data: dataSource.data(),
            filter: dataSource.filter()
        });
        filteredDataSource.read();
        var data = filteredDataSource.view();
        let totalPrice = 0;
        for (var i = 0; i < data.length; i++) {
            totalPrice = totalPrice + parseInt(data[i].ProductPrice);
        }
        $('#txtQuantitycount').val(data.length);
        $('#txtInvoiceAmount').val(totalPrice);
        $("#ScanList").kendoGrid({
            dataSource: data,
            scrollable: true,
            filterable: true,
            resizable: true,
            pageable: {
                refresh: true,
                input: true,
                pageSize: 20,
                numeric: false,
                pageSizes: [20, 50, 100, 200]
            },
            sortable: true,
            columns: [
                { field: "ProductId", title: "ProductId", width: 100, media: "(min-width: 120px;)", filterable: false },
                { field: "ProductSerial", title: "Product Serial", width: "12%", filterable: false },
                { field: "ProdctName", title: "Product Name", width: 100, media: "(min-width: 80px;)", filterable: false },
                { field: "ProductPrice", title: "Product Price", width: 100, media: "(min-width: 100px;)", filterable: false },
            ]
        });
        $("#ScanModal").modal();
    }

    function SubmitInvoice() {
        let isValid = false;
        $("#submitForm").validate({
            rules: {
                InvoiceSerial: "required",
                InvoiceAmount: "required",
                FileInvoiceAmount: "required"
            },
            messages: {
                InvoiceSerial: "Invoice Serial Required !!",
                InvoiceAmount: "Invoice Amount Required !!",
                FileInvoiceAmount: "Invoice File Required !!"
            },
            errorElement: "div"
        });

        if ($("#txtQuantitycount").val() > 0) {
            isValid = $("#submitForm").valid();
        }
        else {
            isValid = true;
        }

        if (isValid) {
            var file = document.getElementById('txtInvoiceFile');
            var formData = new FormData();
            formData.append("file", file.files[0]);
            formData.append('customerId', @Model.CustomerId);
            formData.append('DriverCustomerTrackId', @Model.DriverCustomerTrackId);
            formData.append('InvoiceAmount', $("#txtInvoiceAmount").val());
            formData.append('InvoiceSerialNum', $("#txtInvoiceSerial").val());
            formData.append('SoldQuantity', $("#txtQuantitycount").val());
            Loading(true);
            $.ajax({
                type: "POST",
                url: "/ShipmentTracking/CaptureBuyerFirstVisit",
                data: formData,
                traditional: true,
                //dataType: "json",
                contentType: false,
                processData: false,
                success: function (response) {
                    Loading(false);
                    if (response.output === "Success") {
                        swal("Success", response.msg, "success");
                        window.location.href = "/ShipmentTracking/ProgressStoresForNewBuyer";
                        return false;
                    }
                    else {
                        swal("Oops", response.msg, "error");
                        return false;
                    }
                },
                error: function (response) {
                    swal("Oops!", response.msg, "error");
                    return false;
                },
            });
        }
    }
</script>