@model PosterDelivery.Utility.EntityModel.ProductsModel
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Non Scanning";
}

<head>
    <link href="~/Kendo/Content/loading/loading.css" rel="stylesheet" />
    <script src="~/Kendo/Content/loading/loading.js"></script>
    <script src="~/js/PhoneMask.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            if ('@ViewBag.IsEdit' == 'True' && '@ViewBag.DataCount' == 0) {
                swal("Oops", "Not able to fetch invoice data !!!", "error");
                if ('@ViewBag.Role' == 'Driver') {
                    window.location.href = "/ShipmentTracking/CompletedStoresForDriver";
                }
                else {
                    window.location.href = "/ShipmentTracking/CompletedStores";
                }
            }
            else if ('@ViewBag.IsEdit' == 'True' && '@ViewBag.DataCount' > 0) {
                $('#btnSearch').hide();
                $('#dvInvoice').show();
                $('#txtpickupcount').val('@ViewBag.PickupCount');
                $('#txtdeliverycount').val('@ViewBag.DeliveryCount');
                $('#txtQuantitycount').val('@ViewBag.SoldQuantity');
                $('#txtInvoiceSerial').val('@ViewBag.InvoiceSerialNum');
                $('#txtInvoiceAmount').val('@ViewBag.InvoiceAmount');
                $("#btnSubmitInvoice").html('Update Invoice');
            }
        });

        function SubmitCount() {
            $("#searchForm").validate({
                rules: {
                    PickupCount: "required",
                    DeliveryCount: "required"

                },
                messages: {
                    PickupCount: "Pickup count Required!!",
                    DeliveryCount: "Delivery count Required!!"

                },
                errorElement: "div"
            });
            if ($("#searchForm").valid()) {
                var custId = '@Model.CustomerId';
                var drivercustId = '@Model.DriverCustomerTrackId';
                Loading(true);

                $.ajax({
                    type: "POST",
                    url: "/ShipmentTracking/CaptureNonScanningSoldCount",
                    data: { customerId: parseInt(custId), drivercustId: parseInt(drivercustId), pickupCount: parseInt($("#txtpickupcount").val()), deliveryCount: parseInt($("#txtdeliverycount").val()) },
                    traditional: true,
                    //dataType: "json",
                    //contentType: "application/json",
                    success: function (response) {
                        Loading(false);
                        console.log(response);
                        if (response.output === "Success") {
                            $("#txtHiddenHeaderId").val(response.returnvalue.headerId);
                            $("#txtQuantitycount").val(response.returnvalue.soldQuantity > 0 ? response.returnvalue.soldQuantity : 0);

                            changeSoldQuantity();

                            $("#dvInvoice").css("display", "block");
                        }
                        else {
                            swal("Oops", response.msg, "error");
                            return false;
                        }
                    },
                    error: function (response) {
                        swal("Oops!", response.msg, "error");
                        return false;
                    },
                });
            }
        }

        function changeSoldQuantity() {
            var soldQuantity = parseInt($("input[name=Quantitycount]").val());

            if (soldQuantity > 0) {
                $("#divSerialNumber").show();
                $("#divInvoiceUpload").show();
                $("#divInvoiceAmount").show();
            }
            else {
                $("#divSerialNumber").hide();
                $("#divInvoiceUpload").hide();
                $("#divInvoiceAmount").hide();

                $("#txtInvoiceSerial").val('');
                $("#txtInvoiceAmount").val(0);
            }
        }

        function SubmitInvoice() {
            $("#submitForm").validate({
                rules: {
                    InvoiceSerial: "required",
                    InvoiceAmount: "required",
                    FileInvoiceAmount: "required"
                },
                messages: {
                    InvoiceSerial: "Invoice Serial Required !!",
                    InvoiceAmount: "Invoice Amount Required !!",
                    FileInvoiceAmount: "Invoice File Required !!"
                },
                errorElement: "div"
            });

            var file = document.getElementById('txtInvoiceFile');
            var formData = new FormData();
            formData.append("file", file.files[0]);
            formData.append('HeaderId', $("#txtHiddenHeaderId").val());
            formData.append('customerId', @Model.CustomerId);
            formData.append('DriverCustomerTrackId', @Model.DriverCustomerTrackId);
            formData.append('InvoiceAmount', $("#txtInvoiceAmount").val());
            formData.append('InvoiceSerialNum', $("#txtInvoiceSerial").val());
            formData.append('DeliveryCount', $("#txtdeliverycount").val());
            formData.append('PickupCount', $("#txtpickupcount").val());
            formData.append('SoldQuantity', $("#txtQuantitycount").val());
            formData.append('IsEdit', '@ViewBag.IsEdit');

            if (parseInt($("input[name=Quantitycount]").val()) > 0) {
                if ($("#submitForm").valid()) {
                    Loading(true);
                    $.ajax({
                        type: "POST",
                        url: "/Invoice/CaptureStoreInvoice",
                        data: formData,
                        traditional: true,
                        //dataType: "json",
                        contentType: false,
                        processData: false,
                        success: function (response) {
                            Loading(false);
                            if (response.output === "Success") {
                                swal("Success", response.msg, "success");
                                if ('@ViewBag.Role' == 'Driver') {
                                    window.location.href = "/ShipmentTracking/PendingStoresForDriver";
                                }
                                else {
                                    window.location.href = "/ShipmentTracking/ProgressStores";
                                }

                                return false;
                            }
                            else {
                                swal("Oops", response.msg, "error");
                                return false;
                            }
                        },
                        error: function (response) {
                            swal("Oops!", response.msg, "error");
                            return false;
                        },
                    });
                }
            }
            else {
                Loading(true);
                $.ajax({
                    type: "POST",
                    url: "/Invoice/CaptureStoreInvoice",
                    data: formData,
                    traditional: true,
                    //dataType: "json",
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        Loading(false);
                        if (response.output === "Success") {
                            swal("Success", response.msg, "success");
                            if ('@ViewBag.Role' == 'Driver') {
                                window.location.href = "/ShipmentTracking/PendingStoresForDriver";
                            }
                            else {
                                window.location.href = "/ShipmentTracking/ProgressStores";
                            }

                            return false;
                        }
                        else {
                            swal("Oops", response.msg, "error");
                            return false;
                        }
                    },
                    error: function (response) {
                        swal("Oops!", response.msg, "error");
                        return false;
                    },
                });
            }
        }

    </script>
</head>
<div class="col-md-12 p-0">
    <div class="box box-primary" style="margin-top:30px;">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Title - @Model.CustomerName (#@Model.CustomerId)</h3>
        </div>
    </div>
    <form id="searchForm">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <input type="number" name="PickupCount" min="0" id="txtpickupcount" placeholder="Enter Pickup Count" class="k-textbox form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <input type="number" min="0" name="DeliveryCount" id="txtdeliverycount" placeholder="Enter Delivery Count" class="k-textbox form-control" />
                </div>
                <div class="col-md-4" style="float:right;">
                    <button type="button" id="btnSearch" onclick="SubmitCount()" class="btn btn-sm btn-info"><i class="fa" style="color:white;"></i>Submit</button>
                </div>
            </div>
        </div>
    </form>
    <div id="dvInvoice" class="box box-primary" style="margin-top:30px; width:100%; display: none;">
        <form id="submitForm" style="margin-top:20px;">
            <div class="form-group col">
                <div class="row">
                    <div class="col-md-4">
                        <label style="vertical-align:middle;">Sold Quantity *</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="number" onchange="changeSoldQuantity()" min="0" id="txtQuantitycount" name="Quantitycount" style="width: 40%;" class="k-textbox form-control" />
                    </div>
                </div>
                <div class="row" id="divSerialNumber">
                    <div class="col-md-4">
                        <label style="vertical-align:middle;">Invoice Serial *</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" id="txtInvoiceSerial" name="InvoiceSerial" style="width: 40%;" class="k-textbox form-control" />
                    </div>
                </div>
                <div class="row" id="divInvoiceAmount">
                    <div class="col-md-4">
                        <label style="vertical-align:middle;">Invoice Amount *</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" id="txtInvoiceAmount" name="InvoiceAmount" style="width: 40%;" class="k-textbox form-control" />
                    </div>
                </div>
                <div class="row" id="divInvoiceUpload">
                    <div class="col-md-4">
                        <label style="vertical-align:middle;">Invoice Upload *</label>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="file" id="txtInvoiceFile" name="FileInvoiceAmount" style="width: 40%;" class="k-textbox form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-bottom:20px;">
                        <button id="btnSubmitInvoice" onclick="SubmitInvoice()" type="button" class="btn btn-sm btn-info"><i class="fa" style="color:white;"></i>Submit Invoice</button>
                    </div>
                </div>
                <div>
                    <input id="txtHiddenHeaderId" type="hidden" />
                </div>
            </div>
        </form>
    </div>
</div>

